/*variabels*/
:root {
  --color-lightgray: #cccccc;
  --color-darkgray: #0c0c0c;
  --color-darkblue: #005b68;
  --color-lightblue: #c0cdd1;
  --color-white: #fff;
  --color-yellow: #e7be5b;
  --color-facebook: #325da7;

  --text-font: "Raleway", sans-serif;

}
